.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(230, 230, 230, 0.9);
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(230, 230, 230, 0.9);
}

.card img {
  height: 100px;
}

.card p {
  opacity: 0.5;
}
